* {
    margin: 0;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#main_area {
    -webkit-app-region: no-drag;
   position: absolute;
   width: 260px; 
   height: 300px;
   top: 60px;
   left: 60px;
   padding: 4px;
   background-color: rgba(255, 255, 255,0.7);
   border: 1px solid;
   border-color: gray;
   border-radius: 5px;
}

#nav_area {
    -webkit-app-region: no-drag;
   position: absolute;
   max-width: 100px;
   top: 60px;
   left: 6px;
   padding: 4px;
   background-color: rgba(255, 255, 255,0.6);
   border: 1px solid;
   border-color: gray;
   border-radius: 10%;
}

#total_page {
    -webkit-app-region: drag;
    position :absolute;
    min-width: 300px;
    min-height: 400px;
    background-color: rgba(2, 3, 82, 0.6);
    border-radius: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Menlo,Roboto Mono,monospace;
    color: rgba(167, 237, 255,0.65);
    justify-content: center;
    text-align: center;
}

.vertical-center {
    margin: auto;
    display: block;
}


h1 {
    width: 100%;
    font-size: 170%;
    padding-bottom: 10px;
}

label {
    display: block;
    font-size: 90%;
    word-wrap: break-word;
}

::placeholder {
    color:rgba(196, 206, 197, 0.5);
}

::-ms-input-placeholder { /* Edge 12 -18 */
    color:rgba(196, 206, 197, 0.5);
  }

select,
button,
input {
    -webkit-app-region: no-drag;
    
    color: #a7edff;
    background-color: rgba(42, 96, 153, 0.7);
    border: 0.5px solid rgb(70, 135, 204);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    font-size: 14px;
    text-align-last: center;
    font-family: Menlo,Roboto Mono,monospace;
    line-height: 19px;
    padding: 7px;
    margin: 7px;
    margin-bottom: 10px;
}

button:disabled,
button[disabled] {
    background-color: #cccccc;
    color: #666666;
}

.input_div {
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 1px;
    margin-bottom: 1px;
}

