* {
    margin: 0;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#main_area {
    -webkit-app-region: no-drag;
   position: absolute;
   width: 260px; 
   height: 300px;
   top: 60px;
   left: 60px;
   padding: 4px;
   background-color: rgba(255, 255, 255,0.3);
   border: 1px solid;
   border-color: gray;
   border-radius: 5px;
}

#nav_area {
    -webkit-app-region: no-drag;
   position: absolute;
   max-width: 100px;
   top: 60px;
   left: 6px;
   padding: 4px;
   background-color: rgba(255, 255, 255,0.3);
   border: 1px solid;
   border-color: gray;
   border-radius: 10%;
}

#total_page {
    -webkit-app-region: drag;
    position :absolute;
    min-width: 300px;
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgba(167, 237, 255,0.65);
    justify-content: center;
    text-align: center;
}




h1 {
    width: 100%;
    font-size: 170%;
    padding-bottom: 10px;
}

label {
    display: block;
    font-size: 90%;
    word-wrap: break-word;
}


.mode_div,
.known_or_custom_div,
.custom_entries_div {
    display: none;
}

select,
button,
input {
    -webkit-app-region: no-drag;

    color: #a7edff;
    background-color: rgba(42, 96, 153, 0.7);
    border: 0.5px solid rgb(70, 135, 204);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    font-size: 90%;
    text-align-last: center;

    line-height: 19px;
    padding: 7px;
    margin: 7px;
    margin-bottom: 10px;
}

button:disabled,
button[disabled] {
    background-color: #cccccc;
    color: #666666;
}

.custom_entries_div {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#om_selectors_and_entries_div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#om_selectors_div {
    display: flex;
    flex-direction: column;
}

.input_div {
    display: flex;
    flex-direction: column;
}

.om_select {
    margin: 1px;
}

input {
    margin-top: 1px;
    margin-bottom: 1px;
}

#settings_img, #home_img {
    -webkit-app-region: no-drag;
    width: 30px;
    position: absolute;
    top: 23px;
}

#settings_img {
    right: 30px;
}

#home_img {
    left: 30px;
}

#settings_img:hover, #home_img:hover {
    transform: scale(1.2);
}

/* Button Slider */
.slider {
    background-color: #ffffff2b;
    border-radius: 50px;
    padding: 1px;
    margin: 10px;
    cursor: pointer;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    align-items: center;
    position: relative;
    display: block;
    width: 21px;
    height: 12px;
    box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, rgba(0, 0, 0, 0.21) 0px 0px 0px 24px inset,
          #22cc3f 0px 0px 0px 0px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
  }
  
  .slider::after {
    content: "";
    display: flex;
    top: 0px;
    left: 1px;
    width: 13px;
    height: 13px;
    background-color: rgba(227, 227, 227,0.5);
    border-radius: 50px;
    position: absolute;
    box-shadow: transparent 0px 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    will-change: left, background-color;
  }
  
  .switch input[type="checkbox"]:checked + .slider {
    box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, rgba(34, 204, 63,0.5) 0px 0px 0px 2px inset, rgba(34, 204, 63,0.5) 0px 0px 0px 24px inset,
          rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
  }
  
  .switch input[type="checkbox"]:checked + .slider::after {
    left: 11px;
  }
  
  .switch input[type="checkbox"] {
    display: none;
  }